{% extends '_base.html' %}
{% load static %}

{% block title %}Cert page{% endblock %}

{% block content %}

<!-- Title formating-->
<div class="container">
    <div class="row">

        <div class="col">
        </div>

        <div class="col-8 text-center">
            <h1>Connor's Certifications </h1>
        </div>

        <div class="col">
        </div>
    </div>
</div>
 
 <br>

<!-- Row 1-->
<div class="container text-center">
  <div class="row">
    <div class="col-3">
      <h6> AWS Cloud Practitioner </h6>
      <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="586d9750-0f9d-4ba6-9618-9af99ec89ff4" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    </div>
    <div class="col-3">
      <h6>Mainfarme Management - Experienced </h6>
      <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="c599fe3a-0165-43af-842a-f506acc8a2e5" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    </div>
    <div class="col-3">
      <h6> Db2 Programming - Experienced <h6>
      <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0e37d607-457a-429b-883e-29a19d44c0b1" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    </div>
    <div class="col-3">
      <h6>Db2 Operations</h6>
      <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="211e0502-0c7d-4c7c-bf82-fa360a970b7e" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    </div>
  </div>
</div>

<hr><br>

<!-- Row 2-->
<div class="container text-center">
  <div class="row">
    <div class="col-4">
      <h6> SMP/E - Fundamentals </h6>
      <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="586d9750-0f9d-4ba6-9618-9af99ec89ff4" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    </div>
    <div class="col-4">
      <h6>IBM Mainframe Environment - Fundamentals</h6>
      <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="c599fe3a-0165-43af-842a-f506acc8a2e5" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    </div>
    <div class="col-4">
      <h6> Basics for Zowe™<h6>
      <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0e37d607-457a-429b-883e-29a19d44c0b1" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    </div>
  </div>
</div>

{% endblock content %}
