{% extends 'pages/home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}

<h1 style="text-align: center;">Participate in community decesion making with the Normal Organization</h1>

{% if user.is_authenticated %}

    <form action='.' method='POST'>
        {% csrf_token %}
        {% crispy form %}
    </form>

{% else %}

<br><br><br>
    <h3 style="text-align: center;">Please simply create an account to cast your opinions. </h3>

{% endif %}



{% endblock content %}
