{% extends '_base.html' %}
{% load static %}

{% block title %}Home page Data{% endblock title %}

{% block content %}

    <div class="py-2 mb-3" style="text-align: center; background-color: lightgreen;">
        This is simple a proof of competency website.  It uses Python Django to securely create, read, update and delete data.
        See the <a href="{% url 'about' %}"> about</a>  page.
    </div>

    <div class="container">

        
        <!-- Location location Input form. -->
        <div class="container"> 
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4" style="text-align: center;">
                    <label for="weatherLocationInputID">
                        <h3 class="mb-1"> Generate Weather Forcast </h3>
                    </label>
                    <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Location</span>
                    </div>
                    <input type="text" class="form-control" id="weatherLocationInputID" aria-describedby="basic-addon3"> 

                    <!-- The Javascript for this function is defined inline below. -->
                    <button type="button" class="btn btn-primary" onclick="getLocalWeather()">Search</button>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>  

        <!-- Weather location output form.  -->
        <div id="weatherCardID" style="display: none;">
            <div class="row" >
                <div class="col-md-4"></div>
                <!-- Summary Card-->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" id="LocationID"  style="text-align: center;">
                            <!-- Location -->
                        </div>
                        <div class="card-body">
                            
                            <!-- <h5 class="card-title">Special title treatment</h5> 
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                            
                            <!-- Tempature -->
                            <h2 style="text-align: center;" id="tempature"></h2>

                            <!-- picture-->
                            <div style="text-align: center">
                            <img id ='weatherIcon'> 
                            </div>
                            
                            <!-- Description -->
                            <p class="card-text" style="text-align: center;" id="weatherDescriptionID"></p>
                        </div>
                    </div>
                </div>
                <!-- Windy Weather Map -->
                <div class="col-md-4">
                    <div id="windy"></div>
                </div>
            </div>
        </div>

        <!--  Vote on a season, Rest display. Early code.-->
        <div class="row">
            <div class="col-md-4">
                <!-- Call to action -->
                <div class="jumbotron">
                    <h1 class="display-5">What is your favorite season?</h1>
                    <p class="lead">Tell us what is your favorite season.</p>
                    <hr class="my-4">
                    <p>Vote on your favorite season.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{% url 'create' %}#" role="button">Vote Here</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                {% include 'pages/info/detail.html' %}
            </div>
            <div class="col-md-4" style="position: relative;">
                    
                        {% include 'pages/info/detailrest.html' %}
                </div>
                
            </div>
        </div>
    </div>

    <!-- Javascript Coding Section -->
    <script>

        let workLocation = ''

        async function getLocalWeather() {
            
            var input = document.getElementById("weatherLocationInputID").value;
            
            /* Format the input */
            workLocation = input
            input = input.toLowerCase();
            

            /* Build the URL Query */
            let hostnamePath = 'https://api.openweathermap.org/data/2.5/weather?q='
            let appid = '&appid=a8efcfe69258b521961181dac55090ca'

            let getLocalWeatherCall = hostnamePath.concat(input, appid);

            /* The HTML Value element assignments will happen in the getTempature function */ 
            /* because I am having a hard time */
            getTempature(getLocalWeatherCall);
        }

        async function getTempature(getLocalWeatherCall) {
    
            // execute function, Storing response
            const response = await fetch(getLocalWeatherCall);
            console.log('Fetch initatiated')

            // Storing data in form of JSON
            var data = await response.json();
        
            /*
            In the response, we want to get a few key peices of data.
            Numbers 2 and 3 will help determine what graphic we show.

                1. The tempature
                2. Weather Main indicator
                3. Weather Description
                4. Icon indicator
            */
            if (response) {

                // 1 The tempature
                let K, F = 0
                K = data.main.temp
                F = ((K-273.15)*1.8)+32
                F = Math.round(F)
                console.log('InlineJS: Tempature is ', F)

                // 2. Weather Main 
                let weatherMain= data.weather[0].main
                console.log('Main weather array: ', weatherMain)

                // 3. Weather Description
                let weatherDescription = data.weather[0].description
                console.log('Description of weather data: ', weatherDescription)

                // 4. Icon indicator
                let weatherIcon = data.weather[0].icon
                console.log('Weather icon is: ', weatherIcon)
                let hostAndBasePath = 'https://openweathermap.org/img/wn/';
                let RestofString = '@2x.png'
                let getIconCall = hostAndBasePath.concat(weatherIcon, RestofString)
                console.log(getIconCall)


                
                document.getElementById("weatherCardID").style.display = "block";
                document.getElementById("tempature").innerHTML = F + "°F";
                document.getElementById("LocationID").innerHTML = workLocation;
                document.getElementById("weatherDescriptionID").innerHTML = weatherDescription;
                document.getElementById("weatherIcon").src = getIconCall; 
                document.getElementById("weatherIcon").src = getIconCall; 

                return F  
            }

            /* 
            Windy weather API section
            */
            const options = {
                // Required: API key
                key: 'ATxQjoQuFhJvJHnjIaNSvct2n0Ofg6kb', // REPLACE WITH YOUR KEY !!!

                // Put additional console output
                verbose: true,

                // Optional: Initial state of the map
                lat: 50.4,
                lon: 14.3,
                zoom: 5,
            };

            // Initialize Windy API
            windyInit(options, windyAPI => {
                // windyAPI is ready, and contain 'map', 'store',
                // 'picker' and other usefull stuff

                const { map } = windyAPI;
                // .map is instance of Leaflet map

                L.popup()
                    .setLatLng([50.4, 14.3])
                    .setContent('Hello World')
                    .openOn(map);
});
} 

    </script>

{% endblock content %}



