{% extends '_base.html' %}
{% load static %}

{% block title %}Home page Data{% endblock title %}

{% block content %}

    <div class="py-2 mb-3" style="text-align: center; background-color: lightgreen;">
        This is simple a proof of competency website.  It uses Python Django to securely create, read, update and delete data.
        See the <a href="{% url 'about' %}"> about</a>  page.
    </div>

    <div class="container">

        <!-- Call to action -->
        <div class="jumbotron">
            <h1 class="display-4">Come to an agreement</h1>
            <p class="lead">Cast your opinion and compare it to what others believe.</p>
            <hr class="my-4">
            <p>Vote on 5 beliefes and compare that to what others believe.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'create' %}#" role="button">Vote Here</a>
            </p>
        </div>

    </div>

    <!-- Chart data -->
    {% include 'pages/info/detail.html' %}

{% endblock content %}



