{% extends '_base.html' %}
{% load static %}

{% block title %}Detail page{% endblock title %}

{% block content %}

<div class="container">

    <!-- Safely Include Data for JavaScript in a Template -->
    <script src="{% static 'base.js' %}"></script>

    <h3 style="text-align: center;">View Results</h3>

    <div class="row"> 
        <div class="col-md-3"> 
            <canvas id="question1" width="100" height="100"></canvas>
        </div>
        <div class="col-md-3">
            <canvas id="question2" width="100" height="100"></canvas>
        </div>
        <div class="col-md-3">
            <canvas id="question3" width="100" height="100"></canvas>
        </div>
        <div class="col-md-3"> 
            <canvas id="question4" width="100" height="100"></canvas>
        </div>
        <div class="col-md-3">
            <canvas id="question5" width="100" height="100"></canvas>
        </div>
    </div>
</div>

<p> question 1: {{ Q1_A }} {{ Q1_B }} {{ Q1_C }} {{ Q1_D }} </p>
<p> question 2: {{ Q2_A }} {{ Q2_B }} </p>
<p> question 3: {{ Q3_A }} {{ Q3_B }} {{ Q3_C }} {{ Q3_D }} </p>
<p> question 4: {{ Q4_A }} {{ Q4_B }} {{ Q4_C }} {{ Q4_D }} </p>
<p> question 5: {{ Q5_A }} {{ Q5_B }} {{ Q5_C }} </p>   

    <!-- Safely Include Data for JavaScript in a Template -->
    {{ Q1_A|json_script:"Q1_A" }}
    {{ Q1_B|json_script:"Q1_B" }}
    {{ Q1_C|json_script:"Q1_C" }}
    {{ Q1_D|json_script:"Q1_D" }}

    {{ Q2_A|json_script:"Q2_A" }}
    {{ Q2_B|json_script:"Q2_B" }}

    {{ Q3_A|json_script:"Q3_A" }}
    {{ Q3_B|json_script:"Q3_B" }}
    {{ Q3_C|json_script:"Q3_C" }}
    {{ Q3_D|json_script:"Q3_D" }}

    {{ Q4_A|json_script:"Q4_A" }}
    {{ Q4_B|json_script:"Q4_B" }}
    {{ Q4_C|json_script:"Q4_C" }}
    {{ Q4_D|json_script:"Q4_D" }}

    {{ Q5_A|json_script:"Q5_A" }}
    {{ Q5_B|json_script:"Q5_B" }}
    {{ Q5_C|json_script:"Q5_C" }}

{% endblock content %}
