{% extends '_base.html' %}
{% load static %}

{% block title %}Detail page{% endblock title %}

{% block content %}
<div class="container">

    <h3 style="text-align: center;">View Results</h3>

    <table>
        <tr>
            <th class="pr-4">Is there Fate</th>
            <th>Meaning of Life</th>
            <th>Goal of Humanity</th>
            <th>Rights</th>
            <th>Who build the Pryamids</th>
            <th>Created At</th>
            <th>Updated At</th> 
            <th>Created By</th>
        </tr>
        {% for response in response_list %}
        <tr>
            <td>{{ response.Question1}}</td>
            <td>{{ response.Question2}}</td>
            <td>{{ response.Question3}}</td>
            <td>{{ response.Question4}}</td>
            <td>{{ response.Question5}}</td>
            <td>{{ response.created_at}}</td>
            <td>{{ response.updated_at}}</td>
            <td>{{ response.created_by}}</td>
        </tr>
        {% endfor %}
    </table>
    {{ response_list.count }}
    {{ response_list.objects.all }}

        <!-- Data visualization -->
    <p>Results</p>
    <div class="row" style="width: 100%;">
        <div class="label">
            Does god exhist?
        </div>
        <div class="bar-container">
            <div class="bar val-a" style="flex-basis: 20.0%">Yes</div>
            <div class="bar val-b" style="flex-basis: 70.0%">Maybe</div>
            <div class="bar val-c" style="flex-basis: 10.0%">No</div>
        </div>
    </div>

</div>


{% endblock content %}
