{% extends '_base.html' %}
{% load static %}

{% block title %}Detail page{% endblock title %}

{% block scripts %}
${document}.ready(function(){
    
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

})
{% endblock scripts %}

{% block content %}
<div class="container">

    <h3 style="text-align: center;">View Results</h3>

    <p> question 1: {{ Q1_A }} {{ Q1_B }} {{ Q1_C }} {{ Q1_D }} </p>
    <p> question 2: {{ Q2_A }} {{ Q2_B }} </p>
    <p> question 3: {{ Q3_A }} {{ Q3_B }} {{ Q3_C }} {{ Q3_D }} </p>
    <p> question 4: {{ Q4_A }} {{ Q4_B }} {{ Q4_C }} {{ Q4_D }} </p>
    <p> question 5: {{ Q5_A }} {{ Q5_B }} {{ Q5_C }} </p>    

    <table>
        <tr>
            <th class="pr-4">Is there Fate</th>
            <th>Meaning of Life</th>
            <th>Goal of Humanity</th>
            <th>Rights</th>
            <th>Who build the Pryamids</th>
            <th>Created At</th>
            <th>Updated At</th> 
            <th>Created By</th>
        </tr>
        {% for response in response_list %}
        <tr>
            <td>{{ response.Question1}}</td>
            <td>{{ response.Question2}}</td>
            <td>{{ response.Question3}}</td>
            <td>{{ response.Question4}}</td>
            <td>{{ response.Question5}}</td>
            <td>{{ response.created_at}}</td>
            <td>{{ response.updated_at}}</td>
            <td>{{ response.created_by}}</td>
        </tr>
        {% endfor %}
    </table>
    {{ response_list.count }}
    {{ response_list.objects.all }}

        <!-- Data visualization -->
    <p>Results</p>
    <div class="row" style="width: 100%;">
        <div class="label">
            Does god exhist?
        </div>
        <div class="bar-container">
            <div class="bar val-a" style="flex-basis: 20.0%">Yes</div>
            <div class="bar val-b" style="flex-basis: 70.0%">Maybe</div>
            <div class="bar val-c" style="flex-basis: 10.0%">No</div>
        </div>
    </div>

</div>


{% endblock content %}
