{% extends 'pages/home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}About page{% endblock title %}

{% block content %} 

<div class="container" style="font-size: 18px;">
    <p class="pt-5"> This project is to serve as the perfect example as to how to make a
        highly secure database driven web app.</p>
        
    <p class="pt-1">We use state of the art web technology called the 
        Python Django Web Application Framework that runs in a low-cost, highly secure container.
        Started learning this method independently with  
        <a href="https://wsvincent.com/books/"> this book serise </a> and took off
        from there. I intentionally only implement the fundamental functions of web development here 
        (security, containerization, REST Api's, data visualization, create/read/update/delete form's) to
        serve as an easy to read example for myself future projects. The aim was to keep the code base small and readable.
        The code base will be forever available
         <a href= " https://github.com/connorpekovic/djangox">here</a>.</p>

        
    <p class="pt-1">Future plans for this project include further improving my source code comments,
        pinning the dependencies, and all around making it a great example of a 
        <a href="https://12factor.net/"> 12-factor web app </a> for myself for the future.
        After that,  I'll be diving into some real world enterprises as a lean entrepreneur.
    </p>


    <p> - Connor  </p>
    <a href="https://www.connorpek.com" target="_blank"> www.connorpek.com</a>
    

  
</div>

{% endblock content %}