{% extends 'pages/home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}About page{% endblock title %}

{% block content %} 

<div class="container" style="font-size: 18px;">
    <p class="pt-5"> This website is a proof of competency demonstration for me, <a href="https://github.com/connorpekovic">Connor Pekovic</a>,
     as back-end web developer.  The source code is  <a href="https://github.com/connorpekovic/djangox">here on Github</a> and the aim of
     this project is to simply demonstrates the fundamentals of securely creating, reading, updating, and deleting (C.U.R.D.) data over the web 
     with the <a href="https://www.djangoproject.com/">Django</a> web framework. Django is a low-code, highly-secure, future ready framework that 
     is based in Python, the most popular programming language in the world. </p>

     <p>I plan to make this site more beautiful over time, but proving I can create secure data interfaces is a cornerstone of professional
     web development in the modern era.</p>

    <p>The Django webframework is neck-and-neck with Ruby on Rails as the #1 back-end framework used by start-ups today.
     There is a catch with the Django web development framework, there is a massive gulf between building simple "toy-apps" that can be created and deployed quickly and wait it takes to build
     "production-ready".  This project demonstrates how a production-ready Django application is coded.</p>

    <p> - Connor </p>

  
</div>

{% endblock content %}