<!-- This HTML file Display the data consumed from the Rest API -->

<!-- Frame the charts in HTML. Charts.js uses the <canvas> tag.-->
    <h3 style="text-align: center;">RestAPI data</h3>

    <h3> This data is coming in from a Python Request function, being called in the view.py file.</h3>
    {{chicagoWeather.id}}
    {{chicagoWeather.main}}
    {{chicagoWeather.description}}
    {{chicagoWeather.icon}}
  
    <br><br>
    <H3> This comes from for looping the contect object name from the views.py file. </H3>
    {% for dataPoints in chicagoWeather %}
        {{dataPoints}}
    {% endfor %}

    <!-- Chart.js uses this HTML tag for their charts -->
    <br><br>
    <h3>Charts.js.</h3>
    
    <canvas id="myChart2" width="100" height="100"></canvas>

    <!-- Example on how to privatley pass context data to the JavaScript name space. -->
    {% comment %} I dont think I'll be passing Data like this to Javascript. {% endcomment %}
    {% load static %}
    
    <script src="{% static '/js/base.js' %}"></script>
    
    <!-- This sends data too JavaScript. How do you pull data in from javascript -->
    {{ Q1_A|json_script:"Q1_A" }}
    {{ Q1_B|json_script:"Q1_B" }}
    {{ Q1_C|json_script:"Q1_C" }}
    {{ Q1_D|json_script:"Q1_D" }}
    