<!-- This HTML Displays the data consumed from the Rest API -->

<!-- Frame the charts in HTML. Charts.js uses the <canvas> tag.-->
    <h3 style="text-align: center;">RestAPI data</h3>

    <!-- Chart.js uses this HTML tag for their charts -->
    <canvas id="myChart" width="400" height="400"></canvas>

    
    <!-- Example on how to privatley pass context data to the JavaScript name space. -->
    {% load static %}
    
    <script src="{% static 'base.js' %}"></script>
    
    <!-- This sends data too JavaScript. How do you pull data in from javascript -->
    {{ Q1_A|json_script:"Q1_A" }}
    {{ Q1_B|json_script:"Q1_B" }}
    {{ Q1_C|json_script:"Q1_C" }}
    {{ Q1_D|json_script:"Q1_D" }}
    